/* Start Variables */

:root {
  --main-color: #519259;
  --sec-color: #febd2e;
  --bl-color: #000;
  --para-color: rgba(0, 0, 0, 60%);
  --trans-dur: 0.3s;
  --section-pad: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Component */

a.button {
  display: block;
  width: fit-content;
  padding: 20px 40px;
  background: linear-gradient(
    to right,
    var(--main-color, #519259) 50%,
    #89d292
  );
  color: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 15px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  box-shadow: 15px 15px 60px rgba(81, 146, 89, 42%);
}

a.button:hover {
  box-shadow: 15px 15px 60px rgba(81, 146, 89, 100%);
  transform: translate3d(0px, -5px, 50px);
  -webkit-transform: translate3d(0px, -5px, 50px);
  -moz-transform: translate3d(0px, -5px, 50px);
  -ms-transform: translate3d(0px, -5px, 50px);
  -o-transform: translate3d(0px, -5px, 50px);
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dot.g {
  background-color: var(--main-color, #519259);
}

.dot.y {
  background-color: var(--sec-color, #febd2e);
}

.main-title h1 {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 500;
}

@media (max-width: 576px) {
  .main-title h1 {
    font-size: 40px;
  }
}

.main-title p {
  width: 60%;
  margin: 10px auto;
  line-height: 1.5;
  color: var(--para-color, rgba(0, 0, 0 /60%));
  font-size: 18px;
}

@media (max-width: 576px) {
  .main-title p {
    width: 100%;
  }
}

/* End Component */

/* Start Header */

header {
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 47px;
  height: 47px;
  margin-right: 5px;
}

header .logo a {
  font-size: 37px;
  color: var(--main-color, #519259);
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  header .logo a {
    font-size: 30px;
  }
}

header .logo a span {
  color: var(--sec-color, #febd2e);
}

header .list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  header .list ul {
    display: none;
  }
}

header .list ul a {
  display: block;
  padding: 10px;
  color: var(--para-color, rgba(0, 0, 0, 60%));
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  font-size: 18px;
}

@media (min-width: 1199px) {
  header .list ul a {
    padding: 10px 15px;
  }
}

header .list ul a:hover {
  color: var(--bl-color, #000);
}

header .list ul a.active {
  color: var(--bl-color, #000);
}

header .list .sub-list {
  position: relative;
}

header .list .sub-list ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  background-color: #eeeeee;
  z-index: -1;
  opacity: 0;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
}

header .list .sub-list:hover ul {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

header .list .sub-list ul a {
  padding: 10px 0;
}

header .login {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  header .login {
    display: none;
  }
}

header .login .icon i {
  color: var(--bl-color, #000);
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

header .mob-list {
  position: relative;
}

@media (min-width: 768px) {
  header .mob-list {
    display: none;
  }
}

header .mob-list > i {
  font-size: 30px;
  cursor: pointer;
}

header .mob-list ul {
  position: absolute;
  background-color: #eeeeee;
  width: 120px;
  top: 100%;
  left: -90px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  z-index: -1;
  opacity: 0;
}

header .mob-list:hover > ul {
  z-index: 1;
  opacity: 1;
}

header .mob-list ul a {
  color: var(--para-color, rgba(0, 0, 0, 60%));
  display: block;
  padding: 10px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

header .mob-list ul a:hover {
  color: var(--bl-color, #000);
  padding: 10px 10px 10px 20px;
}

header .mob-list ul li.sub-list {
  position: relative;
}

header .mob-list ul li.sub-list ul {
  position: absolute;
  top: 0;
  left: -120px;
  opacity: 0;
  z-index: 0;
}

header .mob-list ul li.sub-list:hover ul {
  opacity: 1;
  z-index: 1;
}

/* End Header */

/* Start Landing */

.landing {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 768px) {
  .landing {
    flex-direction: column;
  }
}

.landing .text {
  padding: 10px 50px;
  width: 50%;
}

@media (max-width: 768px) {
  .landing .text {
    width: 100%;
    margin-bottom: 50px;
  }
}

.landing .text h1 {
  font-size: 50px;
  color: var(--bl-color, #000);
  font-weight: 600;
  width: 80%;
}

@media (max-width: 991px) {
  .landing .text h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .landing .text h1 {
    font-size: 35px;
  }
}

.landing .text p {
  color: var(--para-color, rgba(0, 0, 0, 60%));
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .landing .text p {
    font-size: 16px;
  }
}

.landing .text .bu {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.landing .text .bu a {
  min-width: 140px;
}

@media (max-width: 991px) {
  .landing .text .bu a {
    padding: 20px 30px;
  }
}

.landing .text .bu span {
  display: block;
  margin-left: 40px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .landing .text .bu span {
    margin-left: 20px;
  }
}

.landing .text .bu span i {
  color: var(--main-color, #519259);
  font-size: 20px;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .landing .text .bu span i {
    margin-right: 10px;
  }
}

.landing .photo {
  position: relative;
  width: 50%;
}

@media (max-width: 991px) {
  .landing .photo {
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .landing .photo {
    width: 100%;
  }
}

.landing .photo .com {
  position: absolute;
  top: 5%;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (max-width: 768px) {
  .landing .photo .com {
    display: none;
  }
}

.landing .photo .com .icon {
  width: 40px;
  height: 40px;
  background-color: var(--main-color, #519259);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}

.landing .photo .bar {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 60%;
}

@media (max-width: 991px) {
  .landing .photo .bar {
    width: 70%;
    bottom: -70px;
  }
}

.landing .photo .bar img {
  width: 100px;
  margin-right: 20px;
}

.landing .photo .bar p {
  color: var(--bl-color, #000);
  margin-bottom: 10px;
}

.landing .photo .bar .rate {
  color: var(--sec-color, #febd2e);
  margin-bottom: 20px;
}

.landing .photo .bar .price {
  color: var(--main-color, #519259);
  font-size: 20px;
}

.landing .main-photo {
  position: relative;
}

.landing .main-photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 30%);
  border-top-left-radius: 8%;
  border-bottom-left-radius: 8%;
}

.landing .main-photo img {
  width: 100%;
  vertical-align: top;
}

/* @media (max-width: 768px) {
  .landing .dot {
    display: none;
  }
} */

.landing .dot.g {
  bottom: 0;
  left: 50%;
}

@media (max-width: 768px) {
  .landing .dot.g {
    top: 20%;
    right: 30px;
    left: auto;
  }
}

.landing .dot.y {
  top: 50%;
  left: 45%;
}

@media (max-width: 768px) {
  .landing .dot.y {
    display: none;
  }
}

/* End Landing */

/* Start No Name 1 */

.no-name1 {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.no-name1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .no-name1 .container {
    flex-direction: column;
  }
}

.no-name1 .container > div {
  flex-basis: calc((100% - 30px) / 2);
}

.no-name1 .gall {
  display: flex;
}

@media (max-width: 768px) {
  .no-name1 .gall {
    order: 2;
  }
}

.no-name1 .gall img {
  margin-right: 10px;
}

@media (max-width: 1199px) {
  .no-name1 .gall img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .no-name1 .text {
    order: 1;
    margin-bottom: 50px;
  }
}

.no-name1 .text h1 {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 500;
}

.no-name1 .text p {
  color: var(--para-color, rgba(0, 0, 0 / 60%));
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.no-name1 .text .dow {
  display: flex;
}

.no-name1 .text .dow img {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .no-name1 .text .dow img {
    width: 50%;
  }
}

.no-name1 .dot.y {
  bottom: 30px;
  left: 50px;
}

/* End No Name 1 */

/* Start Features */

.features {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.features .main-title {
  text-align: center;
}

.features .container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features .feature {
  text-align: center;
}

@media (max-width: 991px) {
  .features .feature {
    margin-bottom: 40px;
  }
}

.features .feature img {
  max-width: 100%;
  margin-bottom: 30px;
}

.features .feature h4 {
  font-size: 32px;
  color: var(--bl-color, #000);
  font-weight: 500;
  font-family: "Sen", sans-serif;
  margin-bottom: 30px;
}

.features .feature p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--para-color, rgba(0, 0, 0 /60%));
}

.features .dot.g {
  top: 40px;
  left: 56%;
}

/* End Features */
