/* Start Variables */

:root {
  --main-color: #519259;
  --sec-color: #febd2e;
  --bl-color: #000;
  --para-color: rgba(0, 0, 0, 60%);
  --trans-dur: 0.3s;
  --para-lineh: 1.5;
  --section-pad: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Component */

a.button {
  display: block;
  width: fit-content;
  padding: 20px 40px;
  background: linear-gradient(
    to right,
    var(--main-color, #519259) 50%,
    #89d292
  );
  color: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 15px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  box-shadow: 15px 15px 60px rgba(81, 146, 89, 42%);
}

a.button:hover {
  box-shadow: 15px 15px 60px rgba(81, 146, 89, 100%);
  transform: translate3d(0px, -5px, 50px);
  -webkit-transform: translate3d(0px, -5px, 50px);
  -moz-transform: translate3d(0px, -5px, 50px);
  -ms-transform: translate3d(0px, -5px, 50px);
  -o-transform: translate3d(0px, -5px, 50px);
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dot.g {
  background-color: var(--main-color, #519259);
}

.dot.y {
  background-color: var(--sec-color, #febd2e);
}

.main-title h1 {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 500;
}

@media (max-width: 576px) {
  .main-title h1 {
    font-size: 40px;
  }
}

.main-title p {
  width: 60%;
  margin: 10px auto;
  line-height: var(--para-lineh, 1.5);
  color: var(--para-color, rgba(0, 0, 0 /60%));
  font-size: 18px;
}

@media (max-width: 576px) {
  .main-title p {
    width: 100%;
  }
}

.com {
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.com .icon {
  width: 40px;
  height: 40px;
  background-color: var(--main-color, #519259);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}

.logo img {
  width: 47px;
  height: 47px;
  margin-right: 5px;
}

.logo a {
  font-size: 37px;
  color: var(--main-color, #519259);
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .logo a {
    font-size: 30px;
  }
}

.logo a span {
  color: var(--sec-color, #febd2e);
}

/* End Component */

/* Start Header */

header {
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  header .list ul {
    display: none;
  }
}

header .list ul a {
  display: block;
  padding: 10px;
  color: var(--para-color, rgba(0, 0, 0, 60%));
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  font-size: 18px;
}

@media (min-width: 1199px) {
  header .list ul a {
    padding: 10px 15px;
  }
}

header .list ul a:hover {
  color: var(--bl-color, #000);
}

header .list ul a.active {
  color: var(--bl-color, #000);
}

header .list .sub-list {
  position: relative;
}

header .list .sub-list ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  background-color: #eeeeee;
  z-index: -1;
  opacity: 0;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
}

header .list .sub-list:hover ul {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

header .list .sub-list ul a {
  padding: 10px 0;
}

header .login {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  header .login {
    display: none;
  }
}

header .login .icon i {
  color: var(--bl-color, #000);
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

header .mob-list {
  position: relative;
}

@media (min-width: 768px) {
  header .mob-list {
    display: none;
  }
}

header .mob-list > i {
  font-size: 30px;
  cursor: pointer;
}

header .mob-list ul {
  position: absolute;
  background-color: #eeeeee;
  width: 120px;
  top: 100%;
  left: -90px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  z-index: -1;
  opacity: 0;
}

header .mob-list:hover > ul {
  z-index: 1;
  opacity: 1;
}

header .mob-list ul a {
  color: var(--para-color, rgba(0, 0, 0, 60%));
  display: block;
  padding: 10px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

header .mob-list ul a:hover {
  color: var(--bl-color, #000);
  padding: 10px 10px 10px 20px;
}

header .mob-list ul li.sub-list {
  position: relative;
}

header .mob-list ul li.sub-list ul {
  position: absolute;
  top: 0;
  left: -120px;
  opacity: 0;
  z-index: 0;
}

header .mob-list ul li.sub-list:hover ul {
  opacity: 1;
  z-index: 1;
}

/* End Header */

/* Start Landing */

.landing {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 768px) {
  .landing {
    flex-direction: column;
  }
}

.landing .text {
  padding: 10px 50px;
  width: 50%;
}

@media (max-width: 768px) {
  .landing .text {
    width: 100%;
    margin-bottom: 50px;
  }
}

.landing .text h1 {
  font-size: 50px;
  color: var(--bl-color, #000);
  font-weight: 600;
  width: 80%;
}

@media (max-width: 991px) {
  .landing .text h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .landing .text h1 {
    font-size: 35px;
  }
}

.landing .text p {
  color: var(--para-color, rgba(0, 0, 0, 60%));
  font-size: 18px;
  line-height: var(--para-lineh, 1.5);
}

@media (max-width: 768px) {
  .landing .text p {
    font-size: 16px;
  }
}

.landing .text .bu {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.landing .text .bu a {
  min-width: 140px;
}

@media (max-width: 991px) {
  .landing .text .bu a {
    padding: 20px 30px;
  }
}

.landing .text .bu span {
  display: block;
  margin-left: 40px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .landing .text .bu span {
    margin-left: 20px;
  }
}

.landing .text .bu span i {
  color: var(--main-color, #519259);
  font-size: 20px;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .landing .text .bu span i {
    margin-right: 10px;
  }
}

.landing .photo {
  position: relative;
  width: 50%;
}

@media (max-width: 991px) {
  .landing .photo {
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .landing .photo {
    width: 100%;
  }
}

.landing .photo .com {
  top: 5%;
  left: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (max-width: 768px) {
  .landing .photo .com {
    display: none;
  }
}

.landing .photo .bar {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 60%;
}

@media (max-width: 991px) {
  .landing .photo .bar {
    width: 70%;
    bottom: -70px;
  }
}

.landing .photo .bar img {
  width: 100px;
  margin-right: 20px;
}

.landing .photo .bar p {
  color: var(--bl-color, #000);
  margin-bottom: 10px;
}

.landing .photo .bar .rate {
  color: var(--sec-color, #febd2e);
  margin-bottom: 20px;
}

.landing .photo .bar .price {
  color: var(--main-color, #519259);
  font-size: 20px;
}

.landing .main-photo {
  position: relative;
}

.landing .main-photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 30%);
  border-top-left-radius: 8%;
  border-bottom-left-radius: 8%;
}

.landing .main-photo img {
  width: 100%;
  vertical-align: top;
}

/* @media (max-width: 768px) {
  .landing .dot {
    display: none;
  }
} */

.landing .dot.g {
  bottom: 0;
  left: 50%;
}

@media (max-width: 768px) {
  .landing .dot.g {
    top: 20%;
    right: 30px;
    left: auto;
  }
}

.landing .dot.y {
  top: 50%;
  left: 45%;
}

@media (max-width: 768px) {
  .landing .dot.y {
    display: none;
  }
}

/* End Landing */

/* Start No Name 1 */

.no-name1 {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.no-name1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .no-name1 .container {
    flex-direction: column;
  }
}

.no-name1 .container > div {
  flex-basis: calc((100% - 30px) / 2);
}

.no-name1 .gall {
  display: flex;
}

@media (max-width: 768px) {
  .no-name1 .gall {
    order: 2;
  }
}

.no-name1 .gall img {
  margin-right: 10px;
}

@media (max-width: 1199px) {
  .no-name1 .gall img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .no-name1 .text {
    order: 1;
    margin-bottom: 50px;
  }
}

.no-name1 .text h1 {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 500;
}

.no-name1 .text p {
  color: var(--para-color, rgba(0, 0, 0 / 60%));
  font-size: 18px;
  line-height: var(--para-lineh, 1.5);
  margin-bottom: 40px;
}

.no-name1 .text .dow {
  display: flex;
}

.no-name1 .text .dow img {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .no-name1 .text .dow img {
    width: 50%;
  }
}

.no-name1 .dot.y {
  bottom: 30px;
  left: 50px;
}

/* End No Name 1 */

/* Start Features */

.features {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.features .main-title {
  text-align: center;
}

.features .container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features .feature {
  text-align: center;
}

@media (max-width: 991px) {
  .features .feature {
    margin-bottom: 40px;
  }
}

.features .feature img {
  max-width: 100%;
  margin-bottom: 30px;
}

.features .feature h4 {
  font-size: 32px;
  color: var(--bl-color, #000);
  font-weight: 500;
  font-family: "Sen", sans-serif;
  margin-bottom: 30px;
}

.features .feature p {
  font-size: 18px;
  line-height: var(--para-lineh, 1.5);
  color: var(--para-color, rgba(0, 0, 0 /60%));
}

.features .dot.g {
  top: 40px;
  left: 56%;
}

/* End Features */

/* Start Work */

.work {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.work .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .work .container {
    flex-direction: column;
  }
}

.work .container > div {
  flex-basis: calc((100% - 30px) / 2);
}

.work .text h2 {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 500;
  margin-bottom: 70px;
  color: var(--bl-color, #000);
}

.work .text .ele {
  margin-bottom: 60px;
}

.work .text .ele h3 {
  color: var(--bl-color, #000);
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 10px;
}

.work .text .ele h3 span {
  color: var(--main-color, #519259);
}

.work .text .ele p {
  color: var(--para-color, rgba(0, 0, 0 /60%));
  line-height: var(--para-lineh, 1.5);
}

.work .cont {
  position: relative;
}

.work .cont .com {
  top: 40px;
  right: 5px;
  z-index: 2;
}

@media (max-width: 991px) {
  .work .cont .com {
    top: 10px;
  }
}

.work .cont .image {
  position: relative;
}

.work .cont .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0 0 0 / 30%);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

@media (max-width: 991px) {
  .work .cont .image::before {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

@media (max-width: 768px) {
  .work .cont .image::before {
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
  }
}

@media (max-width: 576px) {
  .work .cont .image::before {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

.work .cont .image img {
  width: 100%;
  vertical-align: top;
}

.work .cont .sub-info {
  background-color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: absolute;
  bottom: -30px;
  left: 25px;
  z-index: 2;
  padding: 10px 20px;
  width: 90%;
  box-shadow: 15px 15px 60px rgba(0 0 0 / 15%);
}

@media (min-width: 768px) and (max-width: 991px) {
  .work .cont .sub-info {
    bottom: 150px;
  }
}

.work .cont .sub-info h4 {
  font-size: 24px;
  color: var(--bl-color, #000);
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .work .cont .sub-info h4 {
    font-size: 20px;
  }
}

.work .cont .sub-info h4 span {
  font-size: 34px;
  color: var(--sec-color, #febd2e);
  font-weight: 600;
}

@media (max-width: 991px) {
  .work .cont .sub-info h4 span {
    font-size: 30px;
  }
}

.work .cont .sub-info p {
  color: var(--para-color, rgba(0, 0, 0 / 60%));
  line-height: var(--para-lineh, 1.5);
}

.work .plant {
  position: absolute;
  top: -50px;
}

.work .dot.y.one {
  top: 0;
  left: 50%;
}

.work .dot.y.two {
  top: 50%;
  right: 20px;
}

@media (max-width: 768px) {
  .work .dot.y.two {
    display: none;
  }
}

.work .dot.y.there {
  bottom: 10px;
  left: 60px;
}

/* End Work */

/* Start Meuns */

.menus {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.menus .main-title h1 {
  text-align: center;
}

.menus .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menus .item {
  flex-basis: calc((100% - 30px) / 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 991px) {
  .menus .item {
    flex-basis: calc((100% - 30px) / 3);
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .menus .item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (max-width: 576px) {
  .menus .item {
    flex-basis: calc((100% - 30px) / 1);
  }
}

.menus .item:hover {
  background-color: var(--main-color, #519259);
}

.menus .item.sp {
  background-color: var(--main-color, #519259);
}

.menus .item.sp span {
  color: white;
  position: relative;
}

.menus .item.sp span::before {
  content: "\f105";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.menus .item .image {
  text-align: center;
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menus .item .image img {
  max-width: 100%;
}

.menus .item span {
  font-size: 20px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

.menus .item:hover span {
  color: white;
}

/* End Meuns */

/* Start Food */

.food {
  padding-top: var(--trans-dur, 100px);
  padding-bottom: var(--trans-dur, 100px);
}

.food .main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .food .main-title {
    padding: 0 20px;
  }
}

.food .main-title h1 {
  font-size: 40px;
}

.food .arrows {
  display: flex;
  align-items: center;
}

.food .arrows .arr {
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  margin-right: 10px;
}

.food .arrows .arr.right,
.food .arrows .arr.left:hover {
  background-color: var(--main-color, #519259);
  color: white;
}

.food .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.food .card {
  flex-basis: calc((100% - 80px) / 3);
  background-color: white;
  box-shadow: 15px 15px 60px rgba(0 0 0 / 15%);
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 0 40px;
}

@media (max-width: 991px) {
  .food .card {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media (max-width: 576px) {
  .food .card {
    flex-basis: 100%;
  }
}

.food .card .image {
  position: relative;
}

.food .card .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 1;
}

.food .card img {
  width: 100%;
  vertical-align: top;
}

.food .card .content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.food .card .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food .card .rate .stars i {
  color: var(--sec-color, #febd2e);
}

.food .card h4 {
  font-size: 20px;
  font-weight: 500;
}

.food .card p {
  font-size: 14px;
}

.food .card .last-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food .card .last-bar span {
  font-size: 20px;
}

.food .card .last-bar a {
  padding: 20px;
}

/* End Food */

/* Start Customers */

.customers {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.customers .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .customers .container {
    flex-direction: column;
  }
}

.customers .container > div {
  flex-basis: calc((100% - 30px) / 2);
}

@media (max-width: 768px) {
  .customers .image {
    order: 2;
  }
}

.customers .image img {
  width: 100%;
}

@media (max-width: 991px) {
  .customers .text .main-title h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .customers .text .main-title h1 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .customers .text {
    order: 1;
    margin-bottom: 20px;
  }
}

.customers .text .main-title p {
  width: 100%;
  margin-bottom: 40px;
}

.customers .text .porfile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.customers .text .porfile .photo {
  margin-right: 10px;
}

.customers .text .porfile .cont h3 {
  font-size: 20px;
  color: var(--bl-color, #000);
  margin-bottom: 5px;
}

.customers .text .porfile .cont span {
  color: var(--para-color, rgba(0, 0, 0 60%));
  font-size: 15px;
  font-weight: bold;
}

.customers .text .rate i {
  color: var(--sec-color, #febd2e);
}

.customers .text .rate span {
  display: inline-block;
  margin-left: 10px;
}

.customers .plant {
  position: absolute;
  top: 0;
  right: 30px;
}

.customers .dot.y {
  top: 0;
  left: 50%;
}

.customers .dot.y:last-of-type {
  top: auto;
  bottom: 10px;
  left: 20px;
}

/* End Customers */

/* Start Order */

.order {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
}

.order .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .order .container {
    flex-direction: column;
  }
}

.order .container > div {
  flex-basis: calc((100% - 30px) / 2);
}

@media (max-width: 768px) {
  .order .text {
    margin-bottom: 30px;
  }
}

.order .text .main-title h1 {
  font-size: 42px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .order .text .main-title h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.order .text .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order .text .app .feild {
  margin-bottom: 30px;
  position: relative;
}

.order .text .app .feild input {
  width: 100%;
  padding: 10px 30px 10px 40px;
  border: 1px solid var(--para-color, rgba(0, 0, 0, 60%));
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  outline: none;
}

@media (min-width: 1199px) {
  .order .text .app .feild input {
    width: 90%;
  }
}

.order .text .app .feild i {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--para-color, rgba(0, 0, 0, 60%));
}

.order .image img {
  width: 100%;
}

/* End Order */

/* Start Partnership */

.partnership {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.partnership .main-title {
  text-align: center;
  margin-bottom: 60px;
}

.partnership .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .partnership .container {
    flex-direction: column;
  }
}

.partnership .item {
  flex-basis: calc((100% - 90px) / 2);
}

@media (max-width: 768px) {
  .partnership .item {
    margin-bottom: 30px;
  }
}

.partnership .item .image {
  position: relative;
  margin-bottom: 30px;
}

.partnership .item .image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.partnership .item img {
  width: 100%;
  vertical-align: top;
}

.partnership .item .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partnership .item .bar h3 {
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 991px) {
  .partnership .item .bar h3 {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .partnership .item .bar a {
    padding: 13px 30px;
  }
}

.partnership .plant {
  position: absolute;
  top: 0;
  left: 0;
}

/* End Partnership */

/* Start Articles */

.articles {
  padding-top: var(--section-pad, 100px);
  padding-bottom: var(--section-pad, 100px);
  position: relative;
}

.articles .main-title {
  text-align: center;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.articles .art {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 15px 15px 60px rgba(0, 0, 0, 15%);
  padding-bottom: 30px;
}

.articles .art .image {
  position: relative;
  margin-bottom: 20px;
}

.articles .art .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}

.articles .art .image img {
  width: 100%;
  vertical-align: top;
}

.articles .art .image .info {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 200px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: white;
  padding: 10px 20px;
}

.articles .art .image .info i {
  margin-right: 10px;
  color: var(--main-color, #519259);
}

.articles .art .cont {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articles .art .cont p {
  color: var(--para-color, rgba(0, 0, 0, 60%));
  margin-bottom: 20px;
}

.articles .art .cont a {
  padding: 15px 40px;
}

.articles .plant {
  position: absolute;
  bottom: -10px;
  right: 0;
}

/* End Articles */

/* Start Footer */

footer .logo {
  margin-bottom: 40px;
}

footer .content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 30%);
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  footer .content {
    flex-direction: column;
  }
}

footer .item {
  flex-basis: calc((100% - 30px) / 4);
}

@media (max-width: 768px) {
  footer .item:not(.item:last-of-type) {
    margin-bottom: 20px;
  }
}

footer .item h3:not(.item:last-of-type h3) {
  margin-bottom: 20px;
}

footer .item ul a {
  display: block;
  padding: 15px 0;
  color: var(--para-color, rgba(0, 0, 0, 60%));
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

footer .item ul a:hover {
  color: var(--bl-color, #000);
}

footer .item .social {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  footer .item .social {
    margin: 20px 0 30px;
  }
}

footer .item .social .icon {
  color: white;
  background-color: var(--main-color, #519259);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
}

footer .item .social .icon:hover {
  background-color: #1b5a23;
}

footer .item h3:last-of-type {
  margin-bottom: 10px;
}

@media (min-width: 1199px) {
  footer .item .down {
    display: flex;
    align-items: center;
  }
}

footer .item .down img {
  width: 200px;
  cursor: pointer;
}

footer .last-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  footer .last-foot {
    flex-direction: column;
  }
}

footer .last-foot p {
  color: var(--para-color, rgba(0, 0, 0, 60%));
}

@media (max-width: 768px) {
  footer .last-foot p {
    margin-bottom: 20px;
    text-align: center;
  }
}

footer .last-foot .links {
  display: flex;
  align-items: center;
}

footer .last-foot .links a {
  display: block;
  color: var(--para-color, rgba(0, 0, 0, 60%));
  margin-right: 20px;
  transition: var(--trans-dur, 0.3s);
  -webkit-transition: var(--trans-dur, 0.3s);
  -moz-transition: var(--trans-dur, 0.3s);
  -ms-transition: var(--trans-dur, 0.3s);
  -o-transition: var(--trans-dur, 0.3s);
  text-align: center;
}

footer .last-foot .links a:hover {
  color: var(--bl-color, #000);
}

/* End Footer */
